In [6]:
import pyodbc
server = 'mysqlserverfti.database.windows.net'
database = 'mySampleDatabase'
username = 'azureuser'
password = 'Pass7890'
driver= '{SQL Server}'
cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
cursor.execute("SELECT TOP 20 pc.Name as CategoryName, p.name as ProductName FROM [SalesLT].[ProductCategory] pc JOIN [SalesLT].[Product] p ON pc.productcategoryid = p.productcategoryid")
row = cursor.fetchone()
while row:
    print (str(row[0]) + " " + str(row[1]))
    row = cursor.fetchone()

Road Frames HL Road Frame - Black, 58
Road Frames HL Road Frame - Red, 58
Helmets Sport-100 Helmet, Red
Helmets Sport-100 Helmet, Black
Socks Mountain Bike Socks, M
Socks Mountain Bike Socks, L
Helmets Sport-100 Helmet, Blue
Caps AWC Logo Cap
Jerseys Long-Sleeve Logo Jersey, S
Jerseys Long-Sleeve Logo Jersey, M
Jerseys Long-Sleeve Logo Jersey, L
Jerseys Long-Sleeve Logo Jersey, XL
Road Frames HL Road Frame - Red, 62
Road Frames HL Road Frame - Red, 44
Road Frames HL Road Frame - Red, 48
Road Frames HL Road Frame - Red, 52
Road Frames HL Road Frame - Red, 56
Road Frames LL Road Frame - Black, 58
Road Frames LL Road Frame - Black, 60
Road Frames LL Road Frame - Black, 62

In [2]:
%load_ext sql

In [13]:
%sql mssql+pyodbc://azureuser:Pass7890@mysqlserverfti.database.windows.net/mySampleDatabase?driver=SQL+Server

'Connected: azureuser@mySampleDatabase'

In [15]:
%%sql

SELECT TOP 20 pc.Name as CategoryName, p.name as ProductName FROM [SalesLT].[ProductCategory] pc JOIN [SalesLT].[Product] p ON pc.productcategoryid = p.productcategoryid

 * mssql+pyodbc://azureuser:***@mysqlserverfti.database.windows.net/mySampleDatabase?driver=SQL Server
Done.

[('Road Frames', 'HL Road Frame - Black, 58'),
 ('Road Frames', 'HL Road Frame - Red, 58'),
 ('Helmets', 'Sport-100 Helmet, Red'),
 ('Helmets', 'Sport-100 Helmet, Black'),
 ('Socks', 'Mountain Bike Socks, M'),
 ('Socks', 'Mountain Bike Socks, L'),
 ('Helmets', 'Sport-100 Helmet, Blue'),
 ('Caps', 'AWC Logo Cap'),
 ('Jerseys', 'Long-Sleeve Logo Jersey, S'),
 ('Jerseys', 'Long-Sleeve Logo Jersey, M'),
 ('Jerseys', 'Long-Sleeve Logo Jersey, L'),
 ('Jerseys', 'Long-Sleeve Logo Jersey, XL'),
 ('Road Frames', 'HL Road Frame - Red, 62'),
 ('Road Frames', 'HL Road Frame - Red, 44'),
 ('Road Frames', 'HL Road Frame - Red, 48'),
 ('Road Frames', 'HL Road Frame - Red, 52'),
 ('Road Frames', 'HL Road Frame - Red, 56'),
 ('Road Frames', 'LL Road Frame - Black, 58'),
 ('Road Frames', 'LL Road Frame - Black, 60'),
 ('Road Frames', 'LL Road Frame - Black, 62')]