In [1]:
import pandas as pd
import pickle
import numpy as np
import sys
sys.path.insert(1, '../assets/src')

## Basic Statistics

In [2]:
with open(r'../assets/data/STATS.pkl', 'rb') as f:
    stats_df = pickle.load(f)

In [4]:
from webscraper import fetch_stat
stats_df = fetch_stat()

ValueError: 4 columns passed, passed data had 0 columns

In [5]:
stats_df

   Death  Confirmed  Investigating  Reported
0      1         17            159       918

In [37]:
death = stats_df.loc[0, 'Death']
confirmed = stats_df.loc[0, 'Confirmed']
investigating = stats_df.loc[0, 'Investigating']
reported = stats_df.loc[0, 'Reported']

## Coordinates

In [2]:
with open(r'../assets/data/ADDRESS.pkl', 'rb') as f:
    address_df = pickle.load(f)

In [3]:
address_df

,loc_id,address,latitude,longitude,category
0,0,West Kowloon Station,22.304080,114.166501,High Risk
1,1,"Block 1, Site 11, Whampoa Garden",22.305096,114.190610,High Risk
2,2,"Wah Cheung House, Ching Wah Court",22.348820,114.101020,High Risk
3,3,"Tower 2, The Coronation",22.309601,114.165802,High Risk
4,4,"Cheung Hong Estate, Hong Mei House",22.350433,114.099415,High Risk
...,...,...,...,...,...
73,73,High Speed Rail G1015,22.279328,114.162813,High Risk
74,74,High Speed Rail G5607,22.279328,114.162813,High Risk
75,75,Cathay Pacific Airways CX880,22.279328,114.162813,High Risk
76,76,Cathay Pacific Airways CX408,22.279328,114.162813,High Risk
77,77,Cathay Dragon KA855,22.279328,114.162813,High Risk

In [4]:
address_df.tail(20)

,loc_id,address,latitude,longitude,category
58,58,Li Dak Sum Yip Yio Chin Kenneth Li\nConference...,22.279328,114.162813,High Risk
59,59,"Wing Chun House, Wing Cheong Estate",22.329409,114.155346,High Risk
60,60,"Chuen Shui House, Shui Pin Wai Estate",22.445664,114.020095,High Risk
61,61,"Block D Long Fu House, Tin Fu Court",22.464307,113.999002,High Risk
62,62,Sang Cheong Building,22.286115,114.135664,High Risk
63,63,"Block B Hing Wo House, Po Nga Court, Tai\nWo E...",22.308007,113.918803,High Risk
64,64,"Block 5, Sherwood Court, Kingswood Villas",22.452068,113.999779,High Risk
65,65,"Tower 2A, Oceanaire",22.415273,114.223638,High Risk
66,66,"Block A, Fanling Centre",22.490261,114.141742,High Risk
67,67,183 Ma Tau Wai Road,22.319432,114.187769,High Risk
68,68,Cathay Dragon KA694,22.279328,114.162813,High Risk
69,69,China Southern Airlines CZ3097,22.279328,114.162813,High Risk
70,70,Diamond Princess,NaN,NaN,High Risk
71,71,High Speed Rail G1035,22.279328,114.162813,High Risk
72,72,High Speed Rail G407,22.279328,114.162813,High Risk
73,73,High Speed Rail G1015,22.279328,114.162813,High Risk
74,74,High Speed Rail G5607,22.279328,114.162813,High Risk
75,75,Cathay Pacific Airways CX880,22.279328,114.162813,High Risk
76,76,Cathay Pacific Airways CX408,22.279328,114.162813,High Risk
77,77,Cathay Dragon KA855,22.279328,114.162813,High Risk

In [5]:
from wuhan_functions import update_address
new_address_df = update_address(address_df)

In [18]:
new_address_df.at[63, 'latitude'] = 22.450974
new_address_df.at[63, 'longitude'] = 114.158795

# high speed rail
for idx in [71, 72, 73, 74]:
    new_address_df.at[63, 'latitude'] = 22.304080
    new_address_df.at[63, 'longitude'] = 114.166501
    
# cruise
new_address_df.at[70, 'latitude'] = np.nan
new_address_df.at[70, 'longitude'] = np.nan

# airline
for idx in [68, 69, 75, 76, 77]:
    new_address_df.at[63, 'latitude'] = 22.308007
    new_address_df.at[63, 'longitude'] = 113.918803

In [19]:
new_address_df.tail(20)

,loc_id,address,latitude,longitude,category
59,59.0,"Wing Chun House, Wing Cheong Estate",22.329409,114.155346,High Risk
60,60.0,"Chuen Shui House, Shui Pin Wai Estate",22.445664,114.020095,High Risk
61,61.0,"Block D Long Fu House, Tin Fu Court",22.464307,113.999002,High Risk
62,62.0,Sang Cheong Building,22.286115,114.135664,High Risk
63,63.0,"Block B Hing Wo House, Po Nga Court, Tai\nWo E...",22.308007,113.918803,High Risk
64,64.0,"Block 5, Sherwood Court, Kingswood Villas",22.452068,113.999779,High Risk
65,65.0,"Tower 2A, Oceanaire",22.415273,114.223638,High Risk
66,66.0,"Block A, Fanling Centre",22.490261,114.141742,High Risk
67,67.0,183 Ma Tau Wai Road,22.319432,114.187769,High Risk
68,68.0,Cathay Dragon KA694,22.279328,114.162813,High Risk
69,69.0,China Southern Airlines CZ3097,22.279328,114.162813,High Risk
70,70.0,Diamond Princess,NaN,NaN,High Risk
71,71.0,High Speed Rail G1035,22.279328,114.162813,High Risk
72,72.0,High Speed Rail G407,22.279328,114.162813,High Risk
73,73.0,High Speed Rail G1015,22.279328,114.162813,High Risk
74,74.0,High Speed Rail G5607,22.279328,114.162813,High Risk
75,75.0,Cathay Pacific Airways CX880,22.279328,114.162813,High Risk
76,76.0,Cathay Pacific Airways CX408,22.279328,114.162813,High Risk
77,77.0,Cathay Dragon KA855,22.279328,114.162813,High Risk
63,NaN,NaN,22.450974,NaN,NaN

In [10]:
# coordinates_df.loc[21, 'latitude'] = 22.304080
# coordinates_df.loc[21, 'longitude'] = 114.166501

In [7]:
with open(r'../assets/data/ADDRESS.pkl', 'wb') as f:
    pickle.dump(new_address_df, f)

## Casese

In [6]:
with open(r'../assets/data/CASES.pkl', 'rb') as f:
    cases_df = pickle.load(f)

In [7]:
cases_df

,casenum,casestatus,status,age,gender,date,residence,hospital,desc
0,17,Preliminary diagnostic tests +ve,Hospitalised,60,Male,2020-02-04,#N/A,Princess Margaret Hospital,The male patient stayed in General ward for Ts...
1,16,Preliminary diagnostic tests +ve,Hospitalised,64,Female,2020-02-03,Hong Kong,Princess Margaret Hospital,The patient lives in a mansion in Ho Man Tin a...
2,15,Confirmed,Hospitalised,72,Female,2020-02-02,Hong Kong,Princess Margaret Hospital,The female patient is the mother of case no 13...
3,14,Confirmed,Hospitalised,80,Male,2020-02-01,Hong Kong,Princess Margaret Hospital,The patient lives in Luk Kwai House in Kwai Ch...
4,13,Confirmed,Deceased,39,Male,2020-01-31,Hong Kong,Princess Margaret Hospital,The male patient with long term illness lives ...
5,12,Confirmed,Hospitalised,75,Male,2020-01-30,Hong Kong,Princess Margaret Hospital,The 75 year-old patient lives in Cheung Hong E...
6,11,Confirmed,Hospitalised,37,Female,2020-01-30,Hong Kong,Princess Margaret Hospital,\nThe female patient is the daughter of a coup...
7,10,Confirmed,Serious,72,Male,2020-01-29,Wuhan,Princess Margaret Hospital,The male patient arrived in Hong Kong by plane...
8,9,Confirmed,Hospitalised,73,Female,2020-01-29,Wuhan,Princess Margaret Hospital,The female patient arrived in Hong Kong by pla...
9,8,Confirmed,Hospitalised,64,Male,2020-01-26,Wuhan,Princess Margaret Hospital,The 64 year-old male patient from Wuhan has lo...
10,7,Confirmed,Critical,68,Female,2020-01-26,Hong Kong,Princess Margaret Hospital,The 68 year-old female patient lives in Fan Li...
11,6,Confirmed,Hospitalised,47,Male,2020-01-26,Hong Kong,Princess Margaret Hospital,The patient lied about his job of an accountan...
12,5,Confirmed,Hospitalised,63,Male,2020-01-24,Wuhan,Princess Margaret Hospital,The 63 year-old male patient came from Wuhan w...
13,4,Confirmed,Hospitalised,62,Female,2020-01-24,Wuhan,Princess Margaret Hospital,The 62 year-old female patient came from Wuhan...
14,3,Confirmed,Hospitalised,62,Female,2020-01-24,Wuhan,Princess Margaret Hospital,The female patient took High Speed Rail from W...
15,2,Confirmed,Serious,56,Male,2020-01-23,Hong Kong,Princess Margaret Hospital,"The patient flew from Wuhan to ShenZhen, then ..."
16,1,Confirmed,Hospitalised,39,Male,2020-01-23,Wuhan,Princess Margaret Hospital,The patient travelled to Hong Kong by high spe...

In [8]:
cases_df

,casenum,casestatus,status,age,gender,date,residence,hospital,desc
0,17,Preliminary diagnostic tests +ve,Hospitalised,60,Male,2020-02-04,#N/A,Princess Margaret Hospital,The male patient stayed in General ward for Ts...
1,16,Preliminary diagnostic tests +ve,Hospitalised,64,Female,2020-02-03,Hong Kong,Princess Margaret Hospital,The patient lives in a mansion in Ho Man Tin a...
2,15,Confirmed,Hospitalised,72,Female,2020-02-02,Hong Kong,Princess Margaret Hospital,The female patient is the mother of case no 13...
3,14,Confirmed,Hospitalised,80,Male,2020-02-01,Hong Kong,Princess Margaret Hospital,The patient lives in Luk Kwai House in Kwai Ch...
4,13,Confirmed,Deceased,39,Male,2020-01-31,Hong Kong,Princess Margaret Hospital,The male patient with long term illness lives ...
5,12,Confirmed,Hospitalised,75,Male,2020-01-30,Hong Kong,Princess Margaret Hospital,The 75 year-old patient lives in Cheung Hong E...
6,11,Confirmed,Hospitalised,37,Female,2020-01-30,Hong Kong,Princess Margaret Hospital,\nThe female patient is the daughter of a coup...
7,10,Confirmed,Serious,72,Male,2020-01-29,Wuhan,Princess Margaret Hospital,The male patient arrived in Hong Kong by plane...
8,9,Confirmed,Hospitalised,73,Female,2020-01-29,Wuhan,Princess Margaret Hospital,The female patient arrived in Hong Kong by pla...
9,8,Confirmed,Hospitalised,64,Male,2020-01-26,Wuhan,Princess Margaret Hospital,The 64 year-old male patient from Wuhan has lo...
10,7,Confirmed,Critical,68,Female,2020-01-26,Hong Kong,Princess Margaret Hospital,The 68 year-old female patient lives in Fan Li...
11,6,Confirmed,Hospitalised,47,Male,2020-01-26,Hong Kong,Princess Margaret Hospital,The patient lied about his job of an accountan...
12,5,Confirmed,Hospitalised,63,Male,2020-01-24,Wuhan,Princess Margaret Hospital,The 63 year-old male patient came from Wuhan w...
13,4,Confirmed,Hospitalised,62,Female,2020-01-24,Wuhan,Princess Margaret Hospital,The 62 year-old female patient came from Wuhan...
14,3,Confirmed,Hospitalised,62,Female,2020-01-24,Wuhan,Princess Margaret Hospital,The female patient took High Speed Rail from W...
15,2,Confirmed,Serious,56,Male,2020-01-23,Hong Kong,Princess Margaret Hospital,"The patient flew from Wuhan to ShenZhen, then ..."
16,1,Confirmed,Hospitalised,39,Male,2020-01-23,Wuhan,Princess Margaret Hospital,The patient travelled to Hong Kong by high spe...

## Awaiting

In [24]:
with open(r'../assets/data/AWAITING.pkl', 'rb') as f:
    awaiting_df = pickle.load(f)

In [25]:
hospitals = awaiting_df['hospital'].values

In [26]:
hospitals = [s + ', Hong Kong' for s in hospitals]

In [27]:
hospitals

['Alice Ho Miu Ling Nethersole Hospital, Hong Kong',
 'North District Hospital, Hong Kong',
 'North Lantau Hospital, Hong Kong',
 'Pok Oi Hospital, Hong Kong',
 'Pamela Youde Nethersole Eastern Hospital, Hong Kong',
 'Queen Elizabeth Hospital, Hong Kong',
 'St John Hospital, Hong Kong',
 'Tin Shui Wai Hospital, Hong Kong',
 'Caritas Medical Centre, Hong Kong',
 'Kwong Wah Hospital, Hong Kong',
 'Princess Margaret Hospital, Hong Kong',
 'Prince of Wales Hospital, Hong Kong',
 'Queen Mary Hospital, Hong Kong',
 'Ruttonjee Hospital, Hong Kong',
 'Tseung Kwan O Hospital, Hong Kong',
 'Tuen Mun Hospital, Hong Kong',
 'United Christian Hospital, Hong Kong',
 'Yan Chai Hospital, Hong Kong']

In [28]:
from wuhan_functions import get_coordinates

for address in hospitals:
    if address in address_df['address'].values:
        pass
    else:
        latitude, longitude = get_coordinates(address)
        address_df = address_df.append(
            pd.Series({
                'loc_id': address_df['loc_id'].max() + 1,
                'address': address,
                'latitude': latitude,
                'longitude': longitude,
                'category': 'Hospital'
            }),
            ignore_index=True
        )

In [29]:
address_df

,loc_id,address,latitude,longitude,category
0,0,"West Kowloon Station, Hong Kong",22.304080,114.166501,High Risk
1,1,"Block 1, Site 11, Whampoa Garden, Hong Kong",22.305096,114.190610,High Risk
2,2,"Wah Cheung House, Ching Wah Court, Hong Kong",22.348820,114.101020,High Risk
3,3,"Tower 2, The Coronation, Hong Kong",22.309601,114.165802,High Risk
4,4,"Cheung Hong Estate, Hong Mei House, Hong Kong",22.350433,114.099415,High Risk
5,5,"Four Seasons Hotel Hong Kong, Hong Kong",22.286634,114.156700,High Risk
6,6,"W Hong Kong, Hong Kong",22.304636,114.160593,High Risk
7,7,"The Ritz-Carlton, Hong Kong",22.303165,114.160212,High Risk
8,8,"8/F, Tin Hei House, Tin Ping Estate, Hong Kong",22.503551,114.133889,High Risk
9,9,"Block 2, Tseung Kwan O Plaza, Hong Kong",22.308929,114.262603,High Risk
10,10,"Universal Towers, Hong Kong",22.291657,114.199545,High Risk
11,11,"South Hillcrest, Hong Kong",22.412291,113.983503,High Risk
12,12,"Tower 1, Lake Silver, Hong Kong",22.428621,114.243974,High Risk
13,13,"Empire Hotel Kowloon, Tsim Sha Tsui, Hong Kong",22.300866,114.175152,High Risk
14,14,"Floor 23, Li Po Chun Chambers, Hong Kong",22.286215,114.154002,High Risk
15,15,"26/F, Tower 1A, Oceanaire, Hong Kong",22.415273,114.223638,High Risk
16,16,"Alva Hotel by Royal, Hong Kong",22.383572,114.208377,High Risk
17,17,"Luk Kwai House Kwai Chung Estate, Hong Kong",22.368088,114.128424,High Risk
18,18,"Lo Wu Customs Checkpoint, Hong Kong",22.528975,114.113266,High Risk
19,19,"Kai Tak Cruise Terminal, Hong Kong",22.307013,114.212063,High Risk
20,20,"""Enhanted Princess"" Cruise, Hong Kong",22.307013,114.212063,High Risk
21,21,"High Speed Rail, Hong Kong",22.304080,114.166501,High Risk
22,22,"Block F Mirador Mansion, Hong Kong",22.297352,114.172630,High Risk
23,23,"Alice Ho Miu Ling Nethersole Hospital, Hong Kong",22.458515,114.174944,Hospital
24,24,"North District Hospital, Hong Kong",22.496759,114.124606,Hospital
25,25,"North Lantau Hospital, Hong Kong",22.282335,113.939275,Hospital
26,26,"Pok Oi Hospital, Hong Kong",22.445444,114.041639,Hospital
27,27,"Pamela Youde Nethersole Eastern Hospital, Hong...",22.270224,114.236770,Hospital
28,28,"Queen Elizabeth Hospital, Hong Kong",22.309092,114.174734,Hospital
29,29,"St John Hospital, Hong Kong",22.208026,114.031497,Hospital
30,30,"Tin Shui Wai Hospital, Hong Kong",22.458326,113.995693,Hospital
31,31,"Caritas Medical Centre, Hong Kong",22.341558,114.153398,Hospital
32,32,"Kwong Wah Hospital, Hong Kong",22.315480,114.173050,Hospital
33,33,"Princess Margaret Hospital, Hong Kong",22.341238,114.134567,Hospital
34,34,"Prince of Wales Hospital, Hong Kong",22.379594,114.202203,Hospital
35,35,"Queen Mary Hospital, Hong Kong",22.270243,114.131085,Hospital
36,36,"Ruttonjee Hospital, Hong Kong",22.275386,114.174988,Hospital
37,37,"Tseung Kwan O Hospital, Hong Kong",22.318302,114.269679,Hospital
38,38,"Tuen Mun Hospital, Hong Kong",22.407823,113.977151,Hospital
39,39,"United Christian Hospital, Hong Kong",22.322484,114.227379,Hospital
40,40,"Yan Chai Hospital, Hong Kong",22.369784,114.119412,Hospital

In [33]:
get_coordinates('Celestial Heights, 80 Sheung Shing Street, Ho Man Tin, Hong Kong')

(22.3169238, 114.1797755)